@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');

// font-family: 'Montserrat', sans-serif;

body {
    background-color: #1C1B1F;
    padding: 0 15px;
}

.wrapper-header {
    max-width: 1580px;
    margin: 0 auto;
}
