// color 

//columns
$cl-todo: #FDC2B0;
$cl-inprogress: #DDB6FF;
$cl-done: #97EEFF;

// text
$cl-title: #000000;
$cl-description: #565656;
$cl-other: #999999;

// modal
$cl-modalBg: #1C1B1F;
$cl-modalText: #FFFFFF;

// border

$bradius: 10px; // main
$bradius-task: 4px // task